body {
    background-color: #c0c0c0;
}
#flex {
    display: flex;
    flex-direction: row;
}

naw {
    background-color: #c0c0c0;
}
main {
    background-color: #D8BFD8;
}
h1 {
    color: #800080;
}
h2 {
    color: #A52A2A;
}
p {
    color: #A52A2A;
}
